2011-capitalbikeshare-tripdata.csv
2012Q1-capitalbikeshare-tripdata.csv
2012Q3-capitalbikeshare-tripdata.csv
2012Q2-capitalbikeshare-tripdata.csv
2012Q4-capitalbikeshare-tripdata.csv
202101-capitalbikeshare-tripdata.csv
day.csv
hour.csv
